<% unless @coaches.empty? %>
  <% @coaches.each do |coach| %>
    Coach <%= coach.name %><br>
  <% end %>
<% else %>
  <h2>No coaches are available. Sorry!<h2>
<% end %>

<a href="/">Back to Help Requests</a>
