<div class="small-8 small-centered columns">
  <h2 class="text-center">Who's Available?</h2>
  <ul class="small-block-grid-3">
    <% unless @coaches.empty? %>
      <% @coaches.each do |coach| %>
        <li class="text-center"><%= coach.name %></li>
      <% end %>
  </ul>
    <% else %>
      <h2 class="text-center">No coaches are available. Sorry!<h2>
    <% end %>
  <h2 class="text-center">All Coaches and Mentors</h2>
  <ul class="small-block-grid-3">
    <% @all_coaches.each do |coach| %>
      <li class="text-center"><%= coach.name %></li>
    <% end %>
  </ul>
  <a href="/" class="text-center">Back to Help Requests</a>
</div>


