<form action="/request/new" method="POST">
  <%= display_error %>
  <label>I need help with:
    <input type="text" name="request[title]" /><br>
  </label>
  <label>What have you tried so far?:
    <textarea type="text" name="request[problem_desc]" placeholder="Google? Stack overflow? What have you tried with your code?"></textarea><br>
  </label>
  <label>What do you think is happening?:
    <textarea type="text" name="request[tried_desc]" placeholder="Can you guess what might be happening with your code that is giving you a problem?"></textarea><br>
  </label>
  <button type="submit" value="Submit">Need you coach!</button>
</form>
