<h2><%= @user_request.user.name %> needs help with: <%= @user_request.title %></h2>
<p>What I think is happening:<br> <%= @user_request.problem_desc %></p>
<p>What I tried:<br> <%= @user_request.tried_desc %></p>
