<div class="small-6 small-centered columns">
  <div class="user-profile text-center">
    <img src="<%= @user.avatar_url %>" height="230" width="230" class="prof-pic">
    <h2><%= @user.name %></h2>
    <p><%= @user.email %><p>
  </div>
</div>