<div class="small-6 small-centered columns">
  <div class="user-profile text-center">
    <img src="<%= @user.avatar_url %>" height="280" width="280" class="prof-pic">
    <h1><%= @user.name %></h1>
    <p class="blue-txt"><%= @user.email %><p>
    <a href="/" class="index-link">Back to Help Requests</a>
  </div>
</div>