.link-button {
  background: none;
  border: none;
  color: #FD7300;
}

.nav-link-button {
  background: none;
  border: none;
  color: #FD7300;
}
.gray-background {
  background-color: #FAFAFA;
}

.purple-txt {
  color: #E300FD;
}

.admin-user-form {
  display: inline-block;
}
