body {
  background: url(/img/retina_wood.png) repeat 0 0;
}

.link-button {
  background: none;
  border: none;
  color: #FD7300;
}

.nav-link-button {
  background: none;
  border: none;
  color: #FD7300;
}
.gray-background {
  background-color: #FAFAFA;
}

.purple-txt {
  color: #E300FD;
}

.admin-user-form {
  display: inline-block;
}

.unclaim-form {
  display: inline-block;
}

.help-form {
  display: inline-block;
}

.coach-h2 {
  margin-bottom: 1.2em;
}

.available-h2 {
  margin-top: 2em;
  margin-bottom: 1.2em;
}

.coach-portrait {
  border: 5px solid black;
  margin-bottom: 0.5em;
}

.red-txt {
  color: #FA0000;
}

.coach-port-container {
  margin-bottom: 0.5em;
}

.top-bar {
  background: #02A28A;
}

.top-bar-section li:not(.has-form) a:not(.button) {
  background: #16C5A6;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background-color: #16C5A6;
  background: #D8A965;
}

.admin-panel {
  margin-top: 8em;
  margin-bottom: 8em;
  background-color: #EFE8D6;
}

.panel h2 {
  margin-bottom: 1.625rem;
}

.admin-panel-header {
  color: #16C5A6;
}
