.link-button {
  background: none;
  border: none;
  color: #FD7300;
}

.nav-link-button {
  background: none;
  border: none;
  color: #FD7300;
}
.gray-background {
  background-color: #FAFAFA;
}

.purple-txt {
  color: #E300FD;
}

.admin-user-form {
  display: inline-block;
}

.unclaim-form {
  display: inline-block;
}

.help-form {
  display: inline-block;
}

.coach-h2 {
  margin-bottom: 1.2em;
}

.available-h2 {
  margin-top: 2em;
  margin-bottom: 1.2em;
}

.coach-portrait {
  border: 5px solid black;
  margin-bottom: 0.5em;
}

.red-txt {
  color: red;
}

.coach-port-container {
  margin-bottom: 0.5em;
}
