<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/" class="site-logo">DBC-COACHES</a></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <% if current_user && current_user.is_admin? %>
        <li class="has-dropdown">
          ADMIN
          <ul class="dropdown">
            <li>
              <form action="/coach/check-in" method="POST">
                <input type="hidden" name="_method">
                <input type="submit" class="link-button" value="CHECK-IN" />
              </form>
            </li>
            <li><a href="/admin">CONTROL PANEL</a></li>
          </ul>
        </li>
      <% end %>
      <% if current_user %>
        <li><a href="/request/new">GET HELP</a></li>
        <li><a href="/logout">LOGOUT</a></li>
      <% else %>
        <li><a href="/login">LOGIN</a></li>
      <% end %>
    </ul>

    <!-- Left Nav Section -->
    <ul class="left">
      <li>
        <a href="/coaches">
          <% if @coaches.count == 0 %>
            NO COACHES AVAILABLE
          <% elsif @coaches.count == 1 %>
            <%= @coaches.count %> COACH AVAILABLE
          <% else %>
            <%= @coaches.count %> COACHES AVAILABLE
          <% end %>
        </a>
      </li>
    </ul>
  </section>
</nav>
